<!DOCTYPE html>
<html>
	<head>
		<title>RSC -- Version {{ version }}</title>
	</head>
	<body>
		<h2>RSC -- Version {{ version }}</h2>
		<h3>Author:</h3>
		<div>Zach Podbielniak</div>
		<h3>Repo: </h3>
		<div><a href='https://gitlab.com/zachpodbielniak/RSC'>GitLab</a></div>
		<h3>License: AGPLv3</h3>
		<div>			
			Remote Shell Call. Call Shells Remotely Over HTTP. <br />
			Copyright (C) 2019 Zach Podbielniak <br /><br />
			
			This program is free software: you can redistribute it and/or modify <br />
			it under the terms of the GNU Affero General Public License as <br />
			published by the Free Software Foundation, either version 3 of the <br />
			License, or (at your option) any later version. <br /><br />
			
			This program is distributed in the hope that it will be useful, <br />
			but WITHOUT ANY WARRANTY; without even the implied warranty of <br />
			MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the <br />
			GNU Affero General Public License for more details. <br />
			
			You should have received a copy of the GNU Affero General Public License <br />
			along with this program.  If not, see <https://www.gnu.org/licenses/>. <br />
		</div>
	</body>
</html>